html {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #78289b;
    --secondary: #7f199e;
    --accent: #7c21ad;
}

* {
    /* /* border: 1px solid red; */
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Silkscreen";
    font-style: italic;
}

li::marker {
    color: var(--secondary);
}

h1 {
    color: var(--text);
    font-family: "Tourney";
    font-size: 45px;
    font-weight: 700;
    text-decoration: underline;
}
    
h2 { color: var(--primary);
    font-family: "Tourney";
    font-size: 30px;
    font-weight: 700;
    text-decoration: wavy underline;
}

h3 {
    color: var(--primary);
    font-family: "Tourney";
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline dotted;
}

img {
    padding: 2px;
    border-radius: 15px;
    border: 4px inset var(--accent);
    background: var(--secondary);
    width: 200px;
    margin: 20px;
}

audio {
    background: var(--primary);
    padding: 10px;
    width: 200px;
    height: 50px;
    margin: 40px;
}

li {
    border: 1px solid;
}